{{extend 'layout.html'}}

{{block header}}
<link rel="stylesheet" href="{{=URL('static','css/stupid.css')}}"/> 
<link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var menu_search = "{{=URL('api', 'search')}}";
</script>
{{end}}

<div id="vue-div" class="display:none">
  <form @submit.prevent="menu_search">
  <div class="container" >

    <img src="{{=URL('static', 'images/diningradar.png')}}" alt="Dining Radar logo">
      
      <div class = "searchbar">
        <input v-model="form_food" placeholder="Search..." type="text" class="fill">
      </div>

    <div class="accordion foodfilter">
      <input type="checkbox" id="x04">
      <label for="x04"><a>Diet Options</a></label>
      <div class="container">
        <div class="half">
        <div class="white">
            <center><h6>Include</h6></center>
            <div class="filteroptions">
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Eggs </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Fish </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x07">Gluten Free </label></div>
                <div class="half"><input type="checkbox"> <label for="x08">Nuts </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x09">Soy </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Vegetarian </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Vegan </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Pork </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Beef </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Halal </label></div>
            </div>
            </div>
        </div>
        </div>
        <div class="half">
        <div class="white">
            <center><h6>Exclude</h6></center>
            <div class="filteroptions">
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Eggs </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Fish </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x07">Gluten Free </label></div>
                <div class="half"><input type="checkbox"> <label for="x08">Nuts </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x09">Soy </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Vegetarian </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Vegan </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Pork </label></div>
            </div>
            <div class="container">
                <div class="half"><input type="checkbox"> <label for="x06">Beef </label></div>
                <div class="half"><input type="checkbox"> <label for="x06">Halal </label></div>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  
  <div style="padding:50px">
    <a class="btn navy btn-primary" v-if='!cowell_stevenson' v-on:click='cowell_stevenson = !cowell_stevenson'><p class="buttonsize">Cowell/Stevenson</p></a>
    <a class="btn teal btn-primary" v-if='cowell_stevenson' v-on:click='cowell_stevenson = !cowell_stevenson'><p class="buttonsize">Cowell/Stevenson</p></a>
    <a class="btn navy btn-primary" v-if='!crown_merrill' v-on:click='crown_merrill = !crown_merrill'><p class="buttonsize">Crown/Merrill</p></a>
    <a class="btn teal btn-primary" v-if='crown_merrill' v-on:click='crown_merrill = !crown_merrill'><p class="buttonsize">Crown/Merrill</p></a>
    <a class="btn navy btn-primary" v-if='!nine_ten' v-on:click='nine_ten = !nine_ten'><p class="buttonsize">9/10</p></a>
    <a class="btn teal btn-primary" v-if='nine_ten' v-on:click='nine_ten = !nine_ten'><p class="buttonsize">9/10</p></a>
    <a class="btn navy btn-primary" v-if='!porter_kresge' v-on:click='porter_kresge = !porter_kresge'><p class="buttonsize">Porter/Kresge</p></a>
    <a class="btn teal btn-primary" v-if='porter_kresge' v-on:click='porter_kresge = !porter_kresge'><p class="buttonsize">Porter/Kresge</p></a>
    <a class="btn navy btn-primary" v-if='!carson_oakes' v-on:click='carson_oakes = !carson_oakes'><p class="buttonsize">Carson/Oakes</p></a>
    <a class="btn teal btn-primary" v-if='carson_oakes' v-on:click='carson_oakes = !carson_oakes'><p class="buttonsize">Carson/Oakes</p></a>
  </div>
</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>
