{{extend 'layout.html'}}

{{block header}}
<link rel="stylesheet" href="{{=URL('static','css/stupid.css')}}"/>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div id="vue-div" class="display:none">
  <form>
  <div class="container" >
      <label class="quarter right"></label>
      <div class="half">
        <input placeholder="Search..." type="text" class="fill">
      </div>
    </div>
  <div class="accordion">
      <!-- checkbox here is to keep the state of the accordion
          its id must be unique and referened by the label -->
      <input type="checkbox" id="x03">
      <label for="x03"><a>Location Filters</a></label>
      <div>
        <div class="padded white">
          <input type="checkbox"> <label for="x05">Cowell/Stevenson </label> 
          <input type="checkbox"> <label for="x06">Crown/Merill </label> 
          <input type="checkbox"> <label for="x07">9/10 </label> 
          <input type="checkbox"> <label for="x08">Porter/Kresge </label> 
          <input type="checkbox"> <label for="x09">Carson/Oakes </label> 
        </div>
      </div>
    </div>          
    <div class="accordion">
      <input type="checkbox" id="x04">
      <label for="x04"><a>Diet Options</a></label>
      <div>
        <div class="padded white">
          
            Eggs
            <input type="radio" id="one" value="One" >
            <label for="one">Yes</label>
            
            <input type="radio" id="two" value="Two" >
            <label for="two">No</label> 

            <input type="radio" id="two" value="Two" >
            <label for="two">Don't Care</label> 
            <input type="radio"> <label for="x06">Fish </label> 
            <input type="radio"> <label for="x07">Gluten Free </label> 
            <input type="radio"> <label for="x08">Nuts </label> 
            <input type="radio"> <label for="x09">Soy </label>
            <input type="radio"> <label for="x06">Vegetarian </label> 
            <input type="radio"> <label for="x06">Vegan </label> 
            <input type="radio"> <label for="x06">Pork </label>  
            <input type="radio"> <label for="x06">Beef </label> 
            <input type="radio"> <label for="x06">Halal </label>   
        </div>
      </div>
    </div>  
  </form>
  <center style="padding:50px">
    <a class="btn btn-primary">Cowell/Stevenson</a>
    <a class="btn btn-primary">Crown/Merill</a>
    <a class="btn btn-primary">9/10</a>
    <a class="btn btn-primary">Porter/Kresge</a>
    <a class="btn btn-primary">Carson/Oakes</a>
  </center>
</div>



