{{extend 'layout.html'}}

{{block header}}
<link rel="stylesheet" href="{{=URL('static','css/stupid.css')}}"/>
<link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}

<div id="vue-div" class="display:none">
  <form>
  <div class="container" >
      <label class="quarter"></label>
      <div class="half">
        <input placeholder="Search..." type="text" class="fill">
      </div>
    </div>
    <div class="accordion">
      <input type="checkbox" id="x04">
      <label for="x04"><a>Diet Options</a></label>
      <div>
        <div class="padded white">
          
            Eggs
            <input type="radio" id="one" value="One" >
            <label for="one">Yes</label>
            
            <input type="radio" id="two" value="Two" >
            <label for="two">No</label> 

            <input type="radio" id="two" value="Two" >
            <label for="two">Don't Care</label> 
            <input type="radio"> <label for="x06">Fish </label> 
            <input type="radio"> <label for="x07">Gluten Free </label> 
            <input type="radio"> <label for="x08">Nuts </label> 
            <input type="radio"> <label for="x09">Soy </label>
            <input type="radio"> <label for="x06">Vegetarian </label> 
            <input type="radio"> <label for="x06">Vegan </label> 
            <input type="radio"> <label for="x06">Pork </label>  
            <input type="radio"> <label for="x06">Beef </label> 
            <input type="radio"> <label for="x06">Halal </label>   
        </div>
      </div>
    </div>  
  </form>
  <center style="padding:50px">
    <a class="btn navy btn-primary" v-if='!cowell_stevenson' v-on:click='college_checkbox("cowell_stevenson")'><p class="buttonsize">Cowell/Stevenson</p></a>
    <a class="btn teal btn-primary" v-if='cowell_stevenson' v-on:click='college_checkbox("cowell_stevenson")'><p class="buttonsize">Cowell/Stevenson</p></a>
    <a class="btn navy btn-primary" v-if='!crown_merrill' v-on:click='college_checkbox("crown_merrill")'><p class="buttonsize">Crown/Merrill</p></a>
    <a class="btn teal btn-primary" v-if='crown_merrill' v-on:click='college_checkbox("crown_merrill")'><p class="buttonsize">Crown/Merrill</p></a>
    <a class="btn navy btn-primary" v-if='!nine_ten' v-on:click='college_checkbox("nine_ten")'><p class="buttonsize">9/10</p></a>
    <a class="btn teal btn-primary" v-if='nine_ten' v-on:click='college_checkbox("nine_ten")'><p class="buttonsize">9/10</p></a>
    <a class="btn navy btn-primary" v-if='!porter_kresge' v-on:click='college_checkbox("porter_kresge")'><p class="buttonsize">Porter/Kresge</p></a>
    <a class="btn teal btn-primary" v-if='porter_kresge' v-on:click='college_checkbox("porter_kresge")'><p class="buttonsize">Porter/Kresge</p></a>
    <a class="btn navy btn-primary" v-if='!carson_oakes' v-on:click='college_checkbox("carson_oakes")'><p class="buttonsize">Carson/Oakes</p></a>
    <a class="btn teal btn-primary" v-if='carson_oakes' v-on:click='college_checkbox("carson_oakes")'><p class="buttonsize">Carson/Oakes</p></a>
  </center>
</div>



<script src="{{=URL('static', 'js/default_index.js')}}"></script>